1. Number Pattern

In [29]:
num = int(input())
for row in range(1, num+1, 1):
    for col in range(1, row+1, 1):
        print(col, end="")
    for col in range(0, num - row, 1):
        print(" ", end="")
    for col in range(0, num - row, 1):
        print(" ", end="")
    for col in range(row, 0, -1):
        print(col, end="")
    print()

1      1
12    21
123  321
12344321

2. Zeros and Stars Pattern

In [30]:
num = int(input())
for row in range(1, num+1, 1):
    for col in range(0, row-1, 1):
        print(0, end="")
    print("*", end="")
    for col in range(num-row, 0, -1):
        print(0, end="")
    print("*", end="")
    for col in range(num-row, 0, -1):
        print(0, end="")
    print("*", end="")
    for col in range(0, row-1, 1):
        print(0, end="")
    print()

*0000*0000*
0*000*000*0
00*00*00*00
000*0*0*000
0000***0000

3. Pyramid Number Pattern

In [34]:
num = int(input())
for row in range(1, num+1, 1):
    for col in range(num-row, 0, -1):
        print(" ", end="")
    for col in range(1, row, 1):
        print(col+1, end="")
    print(1, end="")
    for col in range(1, row, 1):
        print(col+1, end="")
    print()

   1
  212
 23123
2341234

4. Arrow pattern

In [1]:
num = int(input())
temp = (num//2) + 1
for row in range(1, temp +1, 1):
    for col in range(0, row-1, 1):
        print(" ", end="")
    for col in range(1, row+1, 1):
        print("*", end=" ")
    print()

temp = (num//2)    
for row in range(1, temp+1, 1):
    for col in range(temp-row, 0, -1):
        print(" ", end="")
    for col in range(temp-row+1, 0, -1):
        print("*", end=" ")
    print()

*
 * *
  * * *
   * * * *
  * * *
 * *
*